<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Luxspace - Kompetitor IKEA</title>
    <meta name="description" content="Menjual furniture" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Luxspace - Kompetitor IKEA" />
    <meta property="og:description" content="Menjual furniture" />
    <meta property="og:url" content="https://luxspace.com" />
    <meta property="og:image" content="https://luxspace.com/images/content/preview-homepage.jpg" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/content/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/main.css" />
    <link rel="icon" href="images/content/favicon.png" />

    <meta name="theme-color" content="#000" />
  </head>

  <body>
    <!-- Add your site or application content here -->

    <!-- START: Header -->
    <header class="w-full z-50 px-4">
      <div class="container mx-auto py-10">
        <div class="flex flex-strecht items-center">
          <div class="w-56 flex items-center">
            <img src="images/content/logo.png" alt="Luxspace - Adalah sebuah website yang menjual barang-barang keren">    
          </div>
          <div class="w-full"></div>

          <div class="w-auto">
            <ul
              id="menu" 
              class="fixed bg-white inset-0 flex flex-col invisible items-center justify-center opacity-0 md:visible md:flex-row md:bg-transparent md:relative md:opacity-100">
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:underline">Showcase</a>
              </li>
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:underline">Catalog</a>
              </li>
              <li class="mx-3 py-6 md:py-0">  
                <a href="#" class="text-black hover:underline">Delivery</a>
              </li>
               <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:underline">Rewards</a>
              </li>
            </ul>
          </div>
          
          <div class="w-auto">
            <ul class="flex items-center">
              <li class="ml-6 block md:hidden">
                <button 
                  id="menu-toggler" 
                  class="relative flex z-50 items-center justify-center w-8 h-8 text-black focus:outline-none">
                  <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" height="24" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    class="fill-current feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6"></line>
                    <line x1="8" y1="12" x2="21" y2="12"></line>
                    <line x1="8" y1="18" x2="21" y2="18"></line>
                    <line x1="3" y1="6" x2="3.01" y2="6"></line>
                    <line x1="3" y1="12" x2="3.01" y2="12"></line>
                    <line x1="3" y1="18" x2="3.01" y2="18"></line>
                  </svg>
                </button>
              </li>
              <li class="ml-6">
                <a 
                  href="cart.html"
                  class="flex items-center justify-center w-8 h-8 text-black">
                    <svg 
                      xmlns="http://www.w3.org/2000/svg" 
                      width="24" 
                      height="24" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      stroke="currentColor" 
                      stroke-width="2" 
                      stroke-linecap="round" 
                      stroke-linejoin="round" 
                      class="fill-current feather feather-shopping-cart">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                  </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      
    </header>
    <!-- END: Header -->

    <!-- STRART : Breadcrumb -->
    <section class="bg-gray-100 py-8 px-4">
      <div class="container mx-auto">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#">Shopping Cart</a>
          </li>
        </ul>
      </div>
    </section>
    <!-- END: Breadcrumb -->

    <!-- START: Cart -->
    <section class="md:py-16">
      <div class="container mx-auto px-4">
        <div class="flex -mx-4 flex-wrap">
          <!-- START: Shipping cart -->
          <div class="w-full px-4 mb-4 md:w-8/12 md:mb-0">
            <div class="flex flex-start mb-4 mt-8 pb-3 border-b border-gray-200 md:border-b-0">
              <h3 class="text-2xl">
                Shopping Cart
              </h3>
            </div>

            <!-- START: Table Title -->
            <div class="border-b border-gray-200 mb-4 hidden md:block">
              <div class="flex flex-start items-center pb-2 -mx-4">
                <div class="px-4 flex-none">
                  <div class="text-center" style="width: 90px;">
                    <h6>Photo</h6>
                  </div>
                </div>
                <div class="px-4 w-5/12">
                  <div class="">
                    <h6>Product</h6>
                  </div>
                </div>
                <div class="px-4 w-5/12">
                  <div class="">
                    <h6>Price</h6>
                  </div>
                </div>
                <div class="px-4 w-2/12">
                  <div class="text-center">
                    <h6>Actions</h6>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: Table Title -->

            <!-- START: Table Body -->
              <!-- START: Item 1 -->
                <div class="flex flex-start flex-wrap items-center mb-4 -mx-4">
                  <div class="px-4 flex-none">
                    <div class="" style="width: 90px; height: 90px;">
                      <img src="https://via.placeholder.com/90x90" class="object-cover rounded-xl w-full h-full">
                    </div>
                  </div>
                  <div class="px-4 w-auto md:w-5/12 flex-1">
                    <div class="">
                      <h6 class="font-semibold text-lg md:text-xl leading-8">
                        Title produk satu
                      </h6>
                      <span class="text-sm md:text-lg">Detail Produk Satu</span>
                      <h6 class="font-semibold text-base md:text-lg block md:hidden">
                        IDR 1.500.000
                      </h6>
                    </div>
                  </div>
                  <div class="px-4 w-auto md:w-5/12 flex-none md:flex-1 md:block hidden">
                    <div class="">
                      <h6 class="font-semibold text-lg">
                        IDR 1.500.000
                      </h6>
                    </div>
                  </div>
                  <div class="px-4 w-2/12">
                    <div class="text-center">
                      <button class="text-red-600 border-none focus:outline-none px-3 py-1 font-semibold">
                        X
                      </button>
                    </div>
                  </div>                 
                </div>
              <!-- END: Item 1 -->

              <!-- START: Item 1 -->
                <div class="flex flex-start flex-wrap items-center mb-4 -mx-4">
                  <div class="px-4 flex-none">
                    <div class="" style="width: 90px; height: 90px;">
                      <img src="https://via.placeholder.com/90x90" class="object-cover rounded-xl w-full h-full">
                    </div>
                  </div>
                  <div class="px-4 w-auto md:w-5/12 flex-1">
                    <div class="">
                      <h6 class="font-semibold text-lg md:text-xl leading-8">
                        Title produk dua
                      </h6>
                      <span class="text-sm md:text-lg">Detail Produk dua</span>
                      <h6 class="font-semibold text-base md:text-lg block md:hidden">
                        IDR 500.000
                      </h6>
                    </div>
                  </div>
                  <div class="px-4 w-auto md:w-5/12 flex-none md:flex-1 md:block hidden">
                    <div class="">
                      <h6 class="font-semibold text-lg">
                        IDR 500.000
                      </h6>
                    </div>
                  </div>
                  <div class="px-4 w-2/12">
                    <div class="text-center">
                      <button class="text-red-600 border-none focus:outline-none px-3 py-1 font-semibold">
                        X
                      </button>
                    </div>
                  </div>                 
                </div>
              <!-- END: Item 1 -->

              <!-- START: Item 1 -->
                <div class="flex flex-start flex-wrap items-center mb-4 -mx-4">
                  <div class="px-4 flex-none">
                    <div class="" style="width: 90px; height: 90px;">
                      <img src="https://via.placeholder.com/90x90" class="object-cover rounded-xl w-full h-full">
                    </div>
                  </div>
                  <div class="px-4 w-auto md:w-5/12 flex-1">
                    <div class="">
                      <h6 class="font-semibold text-lg md:text-xl leading-8">
                        Title produk tiga
                      </h6>
                      <span class="text-sm md:text-lg">Detail Produk Tiga</span>
                      <h6 class="font-semibold text-base md:text-lg block md:hidden">
                        IDR 1.000.000
                      </h6>
                    </div>
                  </div>
                  <div class="px-4 w-auto md:w-5/12 flex-none md:flex-1 md:block hidden">
                    <div class="">
                      <h6 class="font-semibold text-lg">
                        IDR 1.000.000
                      </h6>
                    </div>
                  </div>
                  <div class="px-4 w-2/12">
                    <div class="text-center">
                      <button class="text-red-600 border-none focus:outline-none px-3 py-1 font-semibold">
                        X
                      </button>
                    </div>
                  </div>                 
                </div>
              <!-- END: Item 1 -->
            <!-- END: Table Body -->
          </div>
          <!-- END: Shipping cart -->

          <!-- START: Shipping details -->
          <div class="w-full md:px-4 md:w-4/12">
            <div class="bg-gray-100 px-4 py-6 md:p-8 md:rounded-3xl ">
              <form action="success.html">
                <div class="flex flex-start mb-6">
                  <h3 class="text-2xl">Shipping Details</h3>
                </div>

                <!-- START: input complete name -->
                <div class="flex flex-col mb-4">
                  <label class="text-sm mb-2" for="complete-name">
                    Complete Name
                  </label>
                  <input type="text" id="complete-name" class="border border-gray-200 rounded-lg px-4 py-2 bg-white text-sm focus:border-blue-200 focus:outline-none" placeholder="Input your name" /> 
                </div>
                <!-- END: input complete name -->

                <!-- START: input email address -->
                <div class="flex flex-col mb-4">
                  <label class="text-sm mb-2" for="email-address">
                    Email Address
                  </label>
                  <input type="email" id="email-address" class="border border-gray-200 rounded-lg px-4 py-2 bg-white text-sm focus:border-blue-200 focus:outline-none" placeholder="Input your email address" /> 
                </div>
                <!-- END: input email address -->

                <!-- START: input address -->
                <div class="flex flex-col mb-4">
                  <label class="text-sm mb-2" for="address">
                    Address
                  </label>
                  <input type="text" id="address" class="border border-gray-200 rounded-lg px-4 py-2 bg-white text-sm focus:border-blue-200 focus:outline-none" placeholder="Input your address" /> 
                </div>
                <!-- END: input address -->

                <!-- START: input phone number -->
                <div class="flex flex-col mb-4">
                  <label class="text-sm mb-2" for="phone-number">
                    Phone Number
                  </label>
                  <input type="tel" id="phone-number" class="border border-gray-200 rounded-lg px-4 py-2 bg-white text-sm focus:border-blue-200 focus:outline-none" placeholder="Input your phone number" /> 
                </div>
                <!-- END: input phone number -->

                <!-- START: Choose courier -->
                <div class="flex flex-col mb-4">
                  <label class="text-sm mb-2">Choose courier</label>
                  <div class="flex -mx-2 flex-wrap">
                    <!-- START: kuri 1 -->
                    <div class="px-2 w-6/12 h-24 mb-4">
                      <button type="button" class="border border-gray-200 focus:outline-none focus:border-red-200 flex items-center justify-center rounded-xl bg-white w-full h-full">
                        <img src="https://via.placeholder.com/115x60?text=Kurir+1" class="object-contain mx-h-full">
                      </button>
                    </div>
                    <!-- END: kuri 1 -->
                    <!-- START: kuri 2 -->
                    <div class="px-2 w-6/12 h-24 mb-4">
                      <button type="button" class="border border-gray-200 focus:outline-none focus:border-red-200 flex items-center justify-center rounded-xl bg-white w-full h-full">
                        <img src="https://via.placeholder.com/115x60?text=Kurir+2" class="object-contain mx-h-full">
                      </button>
                    </div>
                    <!-- END: kuri 2 -->
                  </div>
                </div>
                <!-- END: Choose courier -->

                <!-- START: Choose courier -->
                <div class="flex flex-col mb-4">
                  <label class="text-sm mb-2">Choose payment</label>
                  <div class="flex -mx-2 flex-wrap">
                    <!-- START: payment 1 -->
                    <div class="px-2 w-6/12 h-24 mb-4">
                      <button type="button" class="border border-gray-200 focus:outline-none focus:border-red-200 flex items-center justify-center rounded-xl bg-white w-full h-full">
                        <img src="https://via.placeholder.com/115x60?text=Payment+1" class="object-contain mx-h-full">
                      </button>
                    </div>
                    <!-- END: payment 1 -->
                    <!-- START: payment 2 -->
                    <div class="px-2 w-6/12 h-24 mb-4">
                      <button type="button" class="border border-gray-200 focus:outline-none focus:border-red-200 flex items-center justify-center rounded-xl bg-white w-full h-full">
                        <img src="https://via.placeholder.com/115x60?text=Payment+2" class="object-contain mx-h-full">
                      </button>
                    </div>
                    <!-- END: payment 2 -->
                    <!-- START: payment 3 -->
                    <div class="px-2 w-6/12 h-24 mb-4">
                      <button type="button" class="border border-gray-200 focus:outline-none focus:border-red-200 flex items-center justify-center rounded-xl bg-white w-full h-full">
                        <img src="https://via.placeholder.com/115x60?text=Payment+3" class="object-contain mx-h-full">
                      </button>
                    </div>
                    <!-- END: payment 3 -->
                    <!-- START: payment 4 -->
                    <div class="px-2 w-6/12 h-24 mb-4">
                      <button type="button" class="border border-gray-200 focus:outline-none focus:border-red-200 flex items-center justify-center rounded-xl bg-white w-full h-full">
                        <img src="https://via.placeholder.com/115x60?text=Payment+4" class="object-contain mx-h-full">
                      </button>
                    </div>
                    <!-- END: payment 4 -->
                  </div>
                </div>
                <!-- END: Choose payment -->

                <div class="text-center">
                  <button 
                    class="bg-gray-300 text-gray-400 focus:bg-red-200 focus:outline-none w-full py-3 rounded-full text-lg focos:text-black transition-all duration-200 px-6"
                    type="submit">
                    Checkout now
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- END: Shipping details -->
        </div>
      </div>
    </section>
    <!-- END: Cart -->

    <!-- START: Aside Menu/Footer Menu -->
    <section class="">
      <div class="border-b border-t border-gray-200 py-12 px-4">
        <div class="flex justify-center mb-8">
          <img src="images/content/logo.png" 
          alt="Luxspace - Adalah sebuah website yang menjual barang-barang keren">
        </div>
        <aside class="container mx-auto">
          <div class="flex flex-wrap md:space-x-4 justify-center">
            <!-- START : Item Footer 1 -->
            <div class="w-full md:w-2/12 mb-4 md:mb-0 accordion">
              <h5 class="text-xl font-semibold mb-2 relative">
                Overview
              </h5>
              <ul class="h-0 invisible md:h-auto md:visible overflow-hidden">
                <li>
                  <a href="#" class="hover:underline py-1 block">Shipping</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Refund</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Promotion</a>
                </li>
              </ul>
            </div>
            <!-- END : Item Footer 1-->

            <!-- START : Item Footer 2-->
            <div class="w-full md:w-2/12 mb-4 md:mb-0 accordion">
              <h5 class="text-xl font-semibold mb-2 relative">
                Company
              </h5>
              <ul class="h-0 invisible md:h-auto md:visible overflow-hidden">
                <li>
                  <a href="#" class="hover:underline py-1 block">About</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Career</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Contact Us</a>
                </li>
              </ul>
            </div>
            <!-- END : Item Footer 2-->

            <!-- START : Item Footer 3-->
            <div class="w-full md:w-2/12 mb-4 md:mb-0 accordion">
              <h5 class="text-xl font-semibold mb-2 relative">
                Explore              
              </h5>
              <ul class="h-0 invisible md:h-auto md:visible overflow-hidden">
                <li>
                  <a href="#" class="hover:underline py-1 block">Shipping</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Refund</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Promotion</a>
                </li>
              </ul>
            </div>
            <!-- END : Item Footer 3-->

             <!-- START : Item Footer 4-->
            <div class="w-full md:w-3/12 mb-4 md:mb-0">
              <h5 class="text-xl font-semibold mb-2 relative">
                Special Letter              
              </h5>
              <form action="">
                <label class="relative w-full">
                  <input 
                    type="text" 
                    class="bg-gray-100 rounded-xl py-3 px-5 w-full focus:outline-none" 
                    placeholder="Your email address" />
                  <button class="bg-pink-400 absolute rounded-xl right-0 p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="fill-current feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                  </button>
                </label>
              </form>
            </div>
            <!-- END : Item Footer 4-->
          </div>
        </aside>
      </div>
    </section>
    <!-- END: Aside Menu/Footer Menu -->

    <!-- START: Footer -->
    <footer class="flex text-center px-4 py-8 justify-center">
      <p class="text-sm">
        Copyright 2021 . All Right Reserved LuxSpace by BuildWith Angga
      </p>
    </footer>
    <!-- END: Footer -->


    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
