<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Luxspace - Kompetitor IKEA</title>
    <meta name="description" content="Menjual furniture" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Luxspace - Kompetitor IKEA" />
    <meta property="og:description" content="Menjual furniture" />
    <meta property="og:url" content="https://luxspace.com" />
    <meta property="og:image" content="https://luxspace.com/images/content/preview-homepage.jpg" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/content/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/main.css" />
    <link rel="icon" href="images/content/favicon.png" />

    <meta name="theme-color" content="#000" />
  </head>

  <body>
    <!-- Add your site or application content here -->

    <!-- START: Header -->
    <header class="absolute w-full z-50 px-4">
      <div class="container mx-auto py-10">
        <div class="flex flex-strecht items-center">
          <div class="w-56 flex items-center">
            <img src="images/content/logo.png" alt="Luxspace - Adalah sebuah website yang menjual barang-barang keren">    
          </div>
          <div class="w-full"></div>

          <div class="w-auto">
            <ul class="fixed bg-white inset-0 flex-col invisible items-center justify-center opacity-0 md:visible md:flex-row md:bg-transparent md:relative md:opacity-100 md:flex">
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:text-white hover:underline">Showcase</a>
              </li>
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:text-white hover:underline">Catalog</a>
              </li>
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:text-white hover:underline">Delivery</a>
              </li>
               <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:text-white hover:underline">Rewards</a>
              </li>
            </ul>
          </div>
          
          <div class="w-auto">
            <ul class="flex items-center">
              <li class="ml-6 block md:hidden">
                <button 
                  id="menu-toggler" 
                  class="relative flex z-50 items-center justify-center w-8 h-8 text-black md:text-white focus:outline-none">
                  <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" height="24" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    class="fill-current feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6"></line>
                    <line x1="8" y1="12" x2="21" y2="12"></line>
                    <line x1="8" y1="18" x2="21" y2="18"></line>
                    <line x1="3" y1="6" x2="3.01" y2="6"></line>
                    <line x1="3" y1="12" x2="3.01" y2="12"></line>
                    <line x1="3" y1="18" x2="3.01" y2="18"></line>
                  </svg>
                </button>
              </li>
              <li class="ml-6">
                <a 
                  href="cart.html"
                  class="flex items-center justify-center w-8 h-8 text-black hover:text-white">
                    <svg 
                      xmlns="http://www.w3.org/2000/svg" 
                      width="24" 
                      height="24" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      stroke="currentColor" 
                      stroke-width="2" 
                      stroke-linecap="round" 
                      stroke-linejoin="round" 
                      class="fill-current feather feather-shopping-cart">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                  </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      
    </header>
    <!-- END: Header -->
    

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
