<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Luxspace - Kompetitor IKEA</title>
    <meta name="description" content="Menjual furniture" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Luxspace - Kompetitor IKEA" />
    <meta property="og:description" content="Menjual furniture" />
    <meta property="og:url" content="https://luxspace.com" />
    <meta property="og:image" content="https://luxspace.com/images/content/preview-homepage.jpg" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/content/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/main.css" />
    <link rel="icon" href="images/content/favicon.png" />

    <meta name="theme-color" content="#000" />
  </head>

  <body>
    <!-- Add your site or application content here -->

    <!-- START: Header -->
    <header class="absolute w-full z-50 px-4">
      <div class="container mx-auto py-10">
        <div class="flex flex-strecht items-center">
          <div class="w-56 flex items-center">
            <img src="images/content/logo.png" alt="Luxspace - Adalah sebuah website yang menjual barang-barang keren">    
          </div>
          <div class="w-full"></div>

          <div class="w-auto">
            <ul
              id="menu" 
              class="fixed bg-white inset-0 flex flex-col invisible items-center justify-center opacity-0 md:visible md:flex-row md:bg-transparent md:relative md:opacity-100">
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:text-white">Showcase</a>
              </li>
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:text-white">Catalog</a>
              </li>
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:text-white">Delivery</a>
              </li>
               <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:text-white">Rewards</a>
              </li>
            </ul>
          </div>
          
          <div class="w-auto">
            <ul class="flex items-center">
              <li class="ml-6 block md:hidden">
                <button 
                  id="menu-toggler" 
                  class="relative flex z-50 items-center justify-center w-8 h-8 text-black focus:outline-none">
                  <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" height="24" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    class="fill-current feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6"></line>
                    <line x1="8" y1="12" x2="21" y2="12"></line>
                    <line x1="8" y1="18" x2="21" y2="18"></line>
                    <line x1="3" y1="6" x2="3.01" y2="6"></line>
                    <line x1="3" y1="12" x2="3.01" y2="12"></line>
                    <line x1="3" y1="18" x2="3.01" y2="18"></line>
                  </svg>
                </button>
              </li>
              <li class="ml-6">
                <a 
                  href="cart.html"
                  class="flex items-center justify-center w-8 h-8 text-black hover:text-white">
                    <svg 
                      xmlns="http://www.w3.org/2000/svg" 
                      width="24" 
                      height="24" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      stroke="currentColor" 
                      stroke-width="2" 
                      stroke-linecap="round" 
                      stroke-linejoin="round" 
                      class="fill-current feather feather-shopping-cart">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                  </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      
    </header>
    <!-- END: Header -->

    <!-- START: Section Hero -->
    <section class="flex items-center hero">
      <div class="w-full absolute z-20 inset-0 md:relative md:w-1/2 text-center flex flex-col justify-center hero-caption">
        <h1 class="text-3xl md:text-5xl leading-tight font-semibold">
          The Room <br class="" />You've Dreaming
        </h1>
        <h2 class="px-8 text-base md:px-0 md:text-lg my-6 tracking-wide">
          Kami menyediakan furniture berkelas yang
          <br class="hidden lg:block"/>
          membuat ruangan terasa nyaman
        </h2>
        <div>
          <a href="#browse-the-room" class="bg-pink-400 text-black hover:bg-black hover:text-pink-400 rounded-full px-8 py-3 mt-4 inline-block flex-none transition duration-200">Explore Now</a>
        </div>
      </div>
      <div class="w-full inset-0 md:relative md-1/2">
        <div class="relative hero-image">
          <div class="overlay inset-0 bg-black opacity-30 z-10"></div>
          <div class="overlay right-0 bottom-0 md:inset-0">
            <button 
              class="video hero-cta focus:outline-none z-30 modal-trigger"
              data-content='<div class="w-screen pb-56 md:w-88 relative z-50">
                <div class="absolute w-full h-full">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FniJvUiVprg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>'></button>
          </div>
          <img 
            class="absolute inset-0 md:relative w-full h-full object-cover object-center" 
            src="https://via.placeholder.com/797x598" 
            alt="House sofa some plants">
        </div>
      </div>
    </section>
    <!-- END: Section Hero -->

    <!--  START : Browse The Rooms -->
    <section class="flex bg-gray-100 py-16 px-4" id="browse-the-room">
      <div class="container mx-auto">
        <div class="flex flex-start mb-4">
          <h3 class="text-2xl capitalize font-semibold">
            Browse the Room <br/>
            That we designed for you
          </h3>
        </div>
        <div class="grid grid-rows-2 grid-cols-9 gap-4">
          <!-- START : item browse the room 1-->
          <div class="relative col-span-9 row-span-1 md:col-span-4 card" style="height: 180px; ">
            <div class="card-shadow rounded-xl">
              <img src="https://via.placeholder.com/513x288" alt="" class="w-full h-full object-cover overlay overflow-hidden rounded-xl">
            </div>
            <div class="overlay left-0 top-0 bottom-0 flex justify-center flex-col pl-48 md:pl-72">
              <h5 class="text-lg font-semibold">Image Tittle</h5>
              <span>1000 items</span>
              
            </div>
            <a href="details.html" class="stretched-link">
                <!-- fake children -->
            </a>
          </div>
           <!-- START : item browse the room 1-->

           <!-- START : item browse the room 2-->
          <div class="relative col-span-9 row-span-1 md:col-span-2 md:row-span-2 card">
            <div class="card-shadow rounded-xl">
              <img src="https://via.placeholder.com/513x288" alt="" class="w-full h-full object-cover overlay overflow-hidden rounded-xl">
            </div>
            <div class="overlay inset-0 md:bottom-auto flex justify-center md:items-center flex-col pl-48 md:pl-0 pt-0 md:pt-12">
              <h5 class="text-lg font-semibold">Image Tittle 2</h5>
              <span>2000 items</span>
              
            </div>
            <a href="details.html" class="stretched-link">
                <!-- fake children -->
            </a>
          </div>
           <!-- START : item browse the room 2-->

            <!-- START : item browse the room 3-->
          <div class="relative col-span-9 row-span-1 md:col-span-3 md:row-span-2 card">
            <div class="card-shadow rounded-xl">
              <img src="https://via.placeholder.com/513x288" alt="" class="w-full h-full object-cover overlay overflow-hidden rounded-xl">
            </div>
            <div class="overlay inset-0 md:bottom-auto flex justify-center md:items-center flex-col pl-48 md:pl-0 pt-0 md:pt-12">
              <h5 class="text-lg font-semibold">Image Tittle 3</h5>
              <span>22.094 items</span>
              
            </div>
            <a href="details.html" class="stretched-link">
                <!-- fake children -->
            </a>
          </div>
           <!-- START : item browse the room 3-->

           <!-- START : item browse the room 4-->
          <div class="relative col-span-9 row-span-1 md:col-span-4 card">
            <div class="card-shadow rounded-xl">
              <img src="https://via.placeholder.com/513x288" alt="" class="w-full h-full object-cover overlay overflow-hidden rounded-xl">
            </div>
            <div class="overlay left-0 top-0 bottom-0 flex justify-center flex-col pl-48 md:pl-72">
              <h5 class="text-lg font-semibold">Image Tittle 4</h5>
              <span>22.094 items</span>
              
            </div>
            <a href="details.html" class="stretched-link">
                <!-- fake children -->
            </a>
          </div>
           <!-- START : item browse the room 4-->

        </div>
      </div>
    </section>
    <!--  END : Browse The Rooms -->
    <div class="min-h-screen">
      
    </div>


    

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
