<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Luxspace - Kompetitor IKEA</title>
    <meta name="description" content="Menjual furniture" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Luxspace - Kompetitor IKEA" />
    <meta property="og:description" content="Menjual furniture" />
    <meta property="og:url" content="https://luxspace.com" />
    <meta property="og:image" content="https://luxspace.com/images/content/preview-homepage.jpg" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/content/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/main.css" />
    <link rel="icon" href="images/content/favicon.png" />

    <meta name="theme-color" content="#000" />
  </head>

  <body>
    <!-- Add your site or application content here -->

    <!-- START: Header -->
    <header class="w-full z-50 px-4">
      <div class="container mx-auto py-10">
        <div class="flex flex-strecht items-center">
          <div class="w-56 flex items-center">
            <img src="images/content/logo.png" alt="Luxspace - Adalah sebuah website yang menjual barang-barang keren">    
          </div>
          <div class="w-full"></div>

          <div class="w-auto">
            <ul
              id="menu" 
              class="fixed bg-white inset-0 flex flex-col invisible items-center justify-center opacity-0 md:visible md:flex-row md:bg-transparent md:relative md:opacity-100">
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:underline">Showcase</a>
              </li>
              <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:underline">Catalog</a>
              </li>
              <li class="mx-3 py-6 md:py-0">  
                <a href="#" class="text-black hover:underline">Delivery</a>
              </li>
               <li class="mx-3 py-6 md:py-0">
                <a href="#" class="text-black hover:underline">Rewards</a>
              </li>
            </ul>
          </div>
          
          <div class="w-auto">
            <ul class="flex items-center">
              <li class="ml-6 block md:hidden">
                <button 
                  id="menu-toggler" 
                  class="relative flex z-50 items-center justify-center w-8 h-8 text-black focus:outline-none">
                  <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="24" height="24" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    class="fill-current feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6"></line>
                    <line x1="8" y1="12" x2="21" y2="12"></line>
                    <line x1="8" y1="18" x2="21" y2="18"></line>
                    <line x1="3" y1="6" x2="3.01" y2="6"></line>
                    <line x1="3" y1="12" x2="3.01" y2="12"></line>
                    <line x1="3" y1="18" x2="3.01" y2="18"></line>
                  </svg>
                </button>
              </li>
              <li class="ml-6">
                <a 
                  id="header-cart"
                  href="cart.html"
                  class="flex items-center justify-center w-8 h-8 text-black">
                    <svg 
                      xmlns="http://www.w3.org/2000/svg" 
                      width="24" 
                      height="24" 
                      viewBox="0 0 24 24" 
                      fill="none" 
                      stroke="currentColor" 
                      stroke-width="2" 
                      stroke-linecap="round" 
                      stroke-linejoin="round" 
                      class="fill-current feather feather-shopping-cart">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                  </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      
    </header>
    <!-- END: Header -->

    <!-- STRART : Breadcrumb -->
    <section class="bg-gray-100 py-8 px-4">
      <div class="container mx-auto">
        <ul class="breadcrumb">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#">Success</a>
          </li>
        </ul>
      </div>
    </section>
    <!-- END: Breadcrumb -->

    <!-- START: Congrats -->
    <section class="py-4 md:py-16">
      <div class="container mx-auto min-h-screen px-4">
        <div class="flex flex-col items-center justify-center">
          <div class="w-full md:w-4/12 text-center">
            <img src="https://via.placeholder.com/500x500">
            <h2 class="text-3xl font-semibold mb-6 mt-2">Ah yes it's success</h2>
            <p class="text-lg mb-12">
              Furniture yang anda beli akan kami kirim saat ini, so now
              please sit tight and be ready for it
            </p>
            <a 
              href="index.html"
              class="text-gray-900 bg-red-200 focus:outline-none w-full py-3 rounded-full text-lg focus:text-black transition duration-200 px-8">
              Back to shop
            </a>
          </div>
        </div>
      </div>
    </section>
    
    <!-- END: Congrats -->

    <!-- START: Aside Menu/Footer Menu -->
    <section class="">
      <div class="border-b border-t border-gray-200 py-12 px-4">
        <div class="flex justify-center mb-8">
          <img src="images/content/logo.png" 
          alt="Luxspace - Adalah sebuah website yang menjual barang-barang keren">
        </div>
        <aside class="container mx-auto">
          <div class="flex flex-wrap md:space-x-4 justify-center">
            <!-- START : Item Footer 1 -->
            <div class="w-full md:w-2/12 mb-4 md:mb-0 accordion">
              <h5 class="text-xl font-semibold mb-2 relative">
                Overview
              </h5>
              <ul class="h-0 invisible md:h-auto md:visible overflow-hidden">
                <li>
                  <a href="#" class="hover:underline py-1 block">Shipping</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Refund</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Promotion</a>
                </li>
              </ul>
            </div>
            <!-- END : Item Footer 1-->

            <!-- START : Item Footer 2-->
            <div class="w-full md:w-2/12 mb-4 md:mb-0 accordion">
              <h5 class="text-xl font-semibold mb-2 relative">
                Company
              </h5>
              <ul class="h-0 invisible md:h-auto md:visible overflow-hidden">
                <li>
                  <a href="#" class="hover:underline py-1 block">About</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Career</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Contact Us</a>
                </li>
              </ul>
            </div>
            <!-- END : Item Footer 2-->

            <!-- START : Item Footer 3-->
            <div class="w-full md:w-2/12 mb-4 md:mb-0 accordion">
              <h5 class="text-xl font-semibold mb-2 relative">
                Explore              
              </h5>
              <ul class="h-0 invisible md:h-auto md:visible overflow-hidden">
                <li>
                  <a href="#" class="hover:underline py-1 block">Shipping</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Refund</a>
                </li>
                <li>
                  <a href="#" class="hover:underline py-1 block">Promotion</a>
                </li>
              </ul>
            </div>
            <!-- END : Item Footer 3-->

             <!-- START : Item Footer 4-->
            <div class="w-full md:w-3/12 mb-4 md:mb-0">
              <h5 class="text-xl font-semibold mb-2 relative">
                Special Letter              
              </h5>
              <form action="">
                <label class="relative w-full">
                  <input 
                    type="text" 
                    class="bg-gray-100 rounded-xl py-3 px-5 w-full focus:outline-none" 
                    placeholder="Your email address" />
                  <button class="bg-pink-400 absolute rounded-xl right-0 p-3 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="fill-current feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                  </button>
                </label>
              </form>
            </div>
            <!-- END : Item Footer 4-->
          </div>
        </aside>
      </div>
    </section>
    <!-- END: Aside Menu/Footer Menu -->

    <!-- START: Footer -->
    <footer class="flex text-center px-4 py-8 justify-center">
      <p class="text-sm">
        Copyright 2021 . All Right Reserved LuxSpace by BuildWith Angga
      </p>
    </footer>
    <!-- END: Footer -->


    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
